body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: #f4f4f4;
    background-size: 100vw 100vh;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    color: slateblue;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: darkblue;
    letter-spacing: 2px;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.button:hover {
    background-color: #45a049;
}